
.posterContainer{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Siempre encima de todo */
}

.poster{
  background-image: '../../assets/images/MOBILEOFF.jpg';
    
background: #ffdcf0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  max-height: 600px;
  height: 70%;
  box-shadow: 0 4px 20px rgba(130,14,46,0.3);
}
img{
    
    max-width: 100%;
    height: auto;    /* Mantiene proporciones */
    display: block;  /* Evita espacios extra debajo de la imagen */
    margin: 0 auto;  /* Centra la imagen si es más pequeña que el contenedor */
}
.poster p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15pt;
   
}
button{
    margin-top: 20px !important;
    background-color: #820e2e !important;
    color: white !important;
    border: 2px solid transparent !important;
}

button:hover{
    background-color: #ffdcf0 !important;
     color: black !important;
     border: 2px solid #820e2e !important;
}