.product2 {
  display: flex;
  flex-direction: column;
  
   min-height: 100vh;
  width: 100%;
 /*height: 100vh;*/
  padding: 0;
  /*height: 100vh;*/
  background-color:#ffdcf0 ;
  margin-top: 0;
}


@media (max-width: 768px) {
  .product2 {
    min-height: auto; /* deja que se adapte al contenido */
  }
}

.textYButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content:center ;
  flex-grow: 1;

  padding: 20px 0;
  margin-bottom: 10px;
}

@media (max-width:367){
 #prSectionH3{
  font-size: 25px !important;
 }
 .product-img{
  
 }
}
body{

  scroll-behavior: smooth;

}
.contFoto{
  display: flex;
  align-items: start;
  justify-content: start;
  align-content: start;
  align-self:auto;
}
.product-img {
  width: 100%;
  height: 100vh;
  max-height: 600px; /* no crece demasiado en pantallas grandes */
  min-height: 250px; /* no se vea demasiado pequeño en móviles */
  object-fit: cover;
}
.product2 h3 {
  text-align: center;  /* centrado horizontal */
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.product2 .btn {
  display: block;
  margin: 20px auto 0 auto; /* centra el botón y separa del texto */
  padding: 10px 25px;
  font-size: 1rem;
  width: 100%;
}


@media(max-width:600px){
  .product-img{
     object-position: center 18%;
  }
}
@media(max-width:550px){
  .product-img{
     object-position: center 25%;
  }
}

@media(max-width:432px){
  .product-img{
    object-fit: contain;
    object-position: top;
  }
  .textYButton{
    margin-top: 0;
    padding-top:0 ;
  }
}


@media(max-width:420px){
  .product-img{
    margin-bottom: 185px;
    object-fit: contain;
    object-position: top;
  }
  .textYButton{
   
    position: absolute;
    margin-top: 0;
    padding-top:0 ;
    z-index: 2;
    top: 550px;
  }
  .product2 h3{
    margin-bottom: 10px;
  }
}

@media(max-width:377px){
  
  .textYButton{
   
    position: absolute;
    margin-top: 0;
    padding-top:0 ;
    z-index: 2;
    top: 500px;
  }
  .product2 h3{
    margin-bottom: 10px;
  }
  .contFoto{
    height: 700px;
  }
}
@media(max-width:345px){
  .textYButton{
    top:460px;
  }
}

@media(max-width:310px){
  .textYButton{
    top:420px;
  }
  .contFoto{
    height: 630px;
  }
}
@media(max-width:297px){
  .textYButton{
    top:400px;
  }
  .contFoto{
    height: 630px;
  }
}
@media(max-width:280px){
  .textYButton{
    top:380px;
  }
  .contFoto{
    height: 630px;
  }
}
@media(max-width:266px){
  .textYButton{
    top:360px;
  }
  .contFoto{
    height: 630px;
  }
}
@media(max-width:243px){
  .textYButton{
    top:330px;
  }
  .contFoto{
    height: 630px;
  }
}
@media(max-width:210px){
  .textYButton{
    top:300px;
  }
  .contFoto{
    height: 600px;
  }
}

@media(max-width:203px){
  .textYButton{
    top:280px;
  }
  .contFoto{
    height: 620px;
  }
}




@media(max-width:270px){
  .product2 .btn{
    width:90%;

  }
}
@media(max-width:240px){
  .product2 .btn{
    width:80%;

  }
}