.contenedorVideo{
 
}

.hero{
    display: flex;
    flex-direction: column;
  
}
.video-wrapper {
  position: relative;
   width: 100%;
  
  margin: 0 auto;
   padding-bottom: 26.25%;
  padding-top: 45%;
  background: #000;
  overflow: hidden;
  max-width: 1500px;
  max-height: 900px;
}


.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
    
  
  }
  /*

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    */
    
@media (max-width: 810px){
    .video-wrapper{
        width: 100%;
        height: 70%;
         max-width: 1000px;
  max-height: 900px;
    }
    .video-wrapper video{

    }
}
@media (max-width: 490px){
.contenedorVideo{
   
}
.hero{
  /*  height: 100%;*/
}
    .lead{
        font-size: 17px;
}
    .video-wrapper {
  position: relative;
   width: 100%;
   /*height: 100%;*/
  margin: 0 auto;
   padding-bottom: 26.25%;
  padding-top: 45%; 
  background: #000;
  overflow: hidden;
   max-width: 1000px;
  max-height: 900px;
}

.actions{
    
}
.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  max-height: 900px;
}
}
@media (max-width: 905){

}
